
# Install & import

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)

In [ ]:
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
fruits = {
    'apples' : [3,2,0,1],
    'oranges' : [0,3,7,2],
}

In [ ]:
df = pd.DataFrame(fruits)
df

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [ ]:
df = pd.DataFrame(fruits, index=['A','B','C','D'])
df

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2

In [ ]:
pd.DataFrame({'Comment1' : ['I liked it.', 'Nice'],
              'Comment2' : ['Pretty good', 'Awesome']}, 
              index = ['Product A', 'Product B'])

              Comment1     Comment2
Product A  I liked it.  Pretty good
Product B         Nice      Awesome

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',15]]
df = pd.DataFrame(data, columns=['Name', 'Age'])

In [ ]:
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   15

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

# Working with Column

In [ ]:
df["Name"]

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [ ]:
df.Name

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [ ]:
df[['Name','Age']]

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   15

Add Column

In [ ]:
df['Score'] = pd.Series([10,20,30])
print(df)

     Name  Age  Score
0    Alex   10     10
1     Bob   12     20
2  Clarke   15     30

Delete Column

In [ ]:
del df['Score']

In [ ]:
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   15

# Working with Row

In [ ]:
df.loc[1] #locate for particular label

Name    Bob
Age      12
Name: 1, dtype: object

In [ ]:
df.iloc[1] #Locate integer locations

Name    Bob
Age      12
Name: 1, dtype: object

In [ ]:
df.iloc[:, 0:3]

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   15

In [ ]:
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   15

Add new Row

In [ ]:
df2 = pd.DataFrame([['Smith', 15.0,50]])
df = df.append(df2)
df

       0     1     2   Age    Name
0    NaN   NaN   NaN  10.0    Alex
1    NaN   NaN   NaN  12.0     Bob
2    NaN   NaN   NaN  15.0  Clarke
0  Smith  15.0  50.0   NaN     NaN

In [ ]:
df.drop(0) #by index

     0   1   2   Age    Name
1  NaN NaN NaN  12.0     Bob
2  NaN NaN NaN  15.0  Clarke

# Reading data from CSV

In [ ]:
#import file from Google Drive
#drive.mount('/content/sample_data/california_housing_test.csv')

In [ ]:
#df.to_csv('new_purchase.csv')
#df.to_json('new_purchase.json')

In [ ]:
# df = pd.read_excel()

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df = pd.read_json('/content/sample_data/anscombe.json')
df

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [ ]:
df.loc[1:3]

  Series   X     Y
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81

In [ ]:
df.iloc[1:3]

  Series   X     Y
1      I   8  6.95
2      I  13  7.58

# Basic Functionality

In [ ]:
df.head(3)

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58

In [ ]:
df.tail()

   Series   X      Y
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [ ]:
df.shape

(44, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Series  44 non-null     object
 1   X       44 non-null     int64
 2   Y       44 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ KB

In [ ]:
df.axes

[RangeIndex(start=0, stop=44, step=1),
 Index(['Series', 'X', 'Y'], dtype='object')]

In [ ]:
df.empty

False

In [ ]:
df.ndim

2

In [ ]:
df.size

132

In [ ]:
df.values

array([['I', 10, 8.04],
       ['I', 8, 6.95],
       ['I', 13, 7.58],
       ['I', 9, 8.81],
       ['I', 11, 8.33],
       ['I', 14, 9.96],
       ['I', 6, 7.24],
       ['I', 4, 4.26],
       ['I', 12, 10.84],
       ['I', 7, 4.8100000000000005],
       ['I', 5, 5.68],
       ['II', 10, 9.14],
       ['II', 8, 8.14],
       ['II', 13, 8.74],
       ['II', 9, 8.77],
       ['II', 11, 9.26],
       ['II', 14, 8.1],
       ['II', 6, 6.13],
       ['II', 4, 3.1],
       ['II', 12, 9.13],
       ['II', 7, 7.26],
       ['II', 5, 4.74],
       ['III', 10, 7.46],
       ['III', 8, 6.77],
       ['III', 13, 12.74],
       ['III', 9, 7.11],
       ['III', 11, 7.8100000000000005],
       ['III', 14, 8.84],
       ['III', 6, 6.08],
       ['III', 4, 5.39],
       ['III', 12, 8.15],
       ['III', 7, 6.42],
       ['III', 5, 5.73],
       ['IV', 8, 6.58],
       ['IV', 8, 5.76],
       ['IV', 8, 7.71],
       ['IV', 8, 8.84],
       ['IV', 8, 8.47],
       ['IV', 8, 7.04],
       ['IV', 8, 5.25],
       ['IV', 19, 12.5],
       ['IV', 8, 5.5600000000000005],
       ['IV', 8, 7.91],
       ['IV', 8, 6.89]], dtype=object)

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
Series,I,I,I,I,I,I,I,I,I,I,...,IV,IV,IV,IV,IV,IV,IV,IV,IV,IV
X,10,8,13,9,11,14,6,4,12,7,...,8,8,8,8,8,8,19,8,8,8
Y,8.04,6.95,7.58,8.81,8.33,9.96,7.24,4.26,10.84,4.81,...,5.76,7.71,8.84,8.47,7.04,5.25,12.5,5.56,7.91,6.89

# Descriptive Statistics

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.sum()

longitude            -2.032556e+06
latitude              6.056288e+05
housing_median_age    4.860190e+05
total_rooms           4.494230e+07
total_bedrooms        9.169984e+06
population            2.430276e+07
households            8.520773e+06
median_income         6.602083e+04
median_house_value    3.524116e+09
dtype: float64

In [ ]:
df['latitude'].sum()

605628.82

In [ ]:
df.sum(1)

0         75218.3736
1         91183.7500
2         86981.7809
3         75915.2617
4         68106.9250
            ...
16995    115257.6771
16996     83490.9379
16997    108445.5713
16998     90738.4797
16999     97767.2047
Length: 17000, dtype: float64

In [ ]:
df.max()

longitude               -114.3100
latitude                  41.9500
housing_median_age        52.0000
total_rooms            37937.0000
total_bedrooms          6445.0000
population             35682.0000
households              6082.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

# Some Functions & Description

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df.describe(include='all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df.population.unique()

array([1015., 1129.,  333., ..., 1899.,  516., 3546.])